<section class="section">
    <div class="container feature-container">
        <div class="feature-block-first">
            <p id="feature" class="section-description">стара традиційна школа</p>
            <h2 class="section-title feature-title">Чому приходять саме до нас?</h2>
            <p class="feature-text text-main">Про нас говорять лише добре. Але краще
            1 раз побачити та відчути, ніж 10 разів прочитати.</p>
        </div>
        <div class="feature-block-second">
            <ul class="feature-list">
                <li class="feature-item">
                    <div class="feature-position">
                        <span class="feature-number">600</span>
                        <p class="feature-words">Задоволених клієнтів на день</p>
                    </div>
                </li>
                <li class="feature-item">
                    <div class="feature-position">
                        <span class="feature-number">50</span>
                        <p class="feature-words">Нагород за відмінний сервіс</p>
                    </div>
                </li>
                <li class="feature-item">
                    <div class="feature-position">
                        <span class="feature-number">20</span>
                        <p class="feature-words">Найкращих майстрів Києва</p>
                    </div>
                </li>
                <li class="feature-item">
                    <div class="feature-position">
                        <span class="feature-number">100</span>
                        <p class="feature-words">Подарков постоянным клиентам</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>