<section class="prices" id="services-and-prices">
  <div class="container">
    <h3 class="section-title">Проведи час у компанії кращих
    майстрів</h3>
    <h2 class="white-section-title">Послуги та ціни</h2>
    <div class="price-list">
      <ul class="list-left-side">
        <li class="price-list-row">
          <div class="price-item">Чоловіча стрижка</div>
          <div class="price-line"></div>
          <div class="price-amount">від 300 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Стрижка бороди</div>
          <div class="price-line"></div>
          <div class="price-amount">від 200 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Стрижка вусів</div>
          <div class="price-line"></div>
          <div class="price-amount">від 200 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Гоління небезпечною бритвою</div>
          <div class="price-line"></div>
          <div class="price-amount">від 200 грн.</div>
        </li>
      </ul>
      <ul class="list-right-side">
        <li class="price-list-row">
          <div class="price-item">Стрижка у стажера</div>
          <div class="price-line"></div>
          <div class="price-amount">від 50 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Стрижка під насадку</div>
          <div class="price-line"></div>
          <div class="price-amount">від 200 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Дитяча стрижка (до 12 років)</div>
          <div class="price-line"></div>
          <div class="price-amount">від 300 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Камуфлювання сивини</div>
          <div class="price-line"></div>
          <div class="price-amount">від 200 грн.</div>
        </li>
      </ul>
    </div>
    <div class="button-box">
      <a class="button" aria-label="Кнопка онлайн-записи" href="#form">
        онлайн-запис
      </a>
    </div>
  </div>
</section>
