.logo {
  fill: $white-text-color;
  display: flex;

  @media screen and (min-width: $tablet) {
    fill: $primary-bgc;
    margin-right: 64px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}
